.banner-img{

}

@media (prefers-reduced-motion: no-preference) {
    .banner-img {
      animation: Banner-image-spin infinite 5s linear;
    }
}
@keyframes Banner-image-spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
}